*
!CHANGELOG.md
!README.md
!Examples.md
!easy_update.py
!easy_annotate.py
!framework.py
!GetLatestVersion.py
!requirements.txt
!updateexts.py
!pep508_eval.py
!constants.py
!templates.py
!updateR.py
!updatePython.py
Debug
Notes
minimal-toolchains
venv
venv24
lib/
Project.md
