*
!CHANGELOG.md
!README.md
!Examples.md
!annotate.py
!constants.py
!easy_update.py
!easy_annotate.py
!framework.py
!GetLatestVersion.py
!pyproject.toml
!requirements.txt
!updateexts.py
!templates.py
!updateR.py
!updatePython.py
Debug
Notes
minimal-toolchains
venv
venv24
lib/
Project.md
